$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

.center {
    text-align: center;
}

.jumbotron {
    background-image: url(https://images.unsplash.com/photo-1473830394358-91588751b241?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=9ded90978e33593b7bc1b30652e60971);
    background-size: cover;
    background-position: 0%;
    height: 600px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
    color: gray; 
}

.article-actions{
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description{
    margin-top: 0px;
}

footer{
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777; 
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}